[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
psycopg2 = "*"

[packages]
django = "*"
python-decouple = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.8"
