{% extends "pages/base.html" %}
{% load static %}

{% block extrametatags %}

<!-- Primary Meta Tags -->
<title>Quality Cloud &amp; IT Services Where and When You Need it | Jiftek Digital Solution</title>
<meta name="title" content="Quality Cloud &amp; IT Services Where and When You Need it | Jiftek Digital Solution">
<meta name="description"
    content="We offer the best Cloud &amp; IT Services Where and When You Need it | Jiftek Digital Solution">
<meta name="keywords"
    content="Web Development, Web building, Cloud Services, Google Cloud Package Services, AWS Services, Microsoft Azure Cloud Services, Office 365 services, IT Consulting
    Mobile App Building, Computer Accessories Supply, Installation of Solar Panel and Inverter, Sales of Computer Accessories, Cyber Security Services, CCTV Installation, UPS installation">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.jiftek.com">
<meta property="og:title" content="Quality Cloud &amp; IT Services Where and When You Need it | Jiftek Digital Solution">
<meta property="og:description" content="World Class Information Technology Solution and Consulting Services where and when you need it!">
<meta property="og:image" content="https://www.jiftek.com/static/img/web-and-app-development-services-1.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.jiftek.com">
<meta property="twitter:title" content="Quality Cloud &amp; IT Services Where and When You Need it | Jiftek Digital Solution">
<meta property="twitter:description"
    content="World Class Information Technology Solution and Consulting Services where and when you need it!">
<meta property="twitter:image" content="https://www.jiftek.com/static/img/web-and-app-development-services-1.jpg">
{% endblock %}

{% block extrahead %}
<link rel="canonical" href="{% url 'home' %}" />
<link rel="preload" href="{% static 'css/index.css' %}" as="style">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="preload" href="{% static 'js/vegas.min.js' %}" as="script">
<link rel="preload" href="{% static 'css/vegas.min.css' %}" as="style">
<link rel="stylesheet" href="{% static 'css/vegas.min.css' %}">
{% endblock %}

{% block content %}
<div class="col-12 m-0 p-0">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible fade show alert-primary paragraph my-0 py-3" style="font-weight: 400;">
        {{ message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
</div>
<section class="first-section p-0 my-0 col-12 mx-0" id="slideshow">
    <div class="px-0 row col-12 py-4">
        <div class="col-md-7 d-none d-md-block  my-0">
        </div>
        <div class="col-md-5  my-0" id="slideText">
            <div class="slideTextChild">
                <h1 class=" text-white">
                    <span class="course-intro">WORLD CLASS</span><br>
                    <span id="course-name">CLOUD SOLUTION &amp; SERVICES</span>
                </h1>
                <p class="pb-3 pt-1 text-white paragraph" id="course-content">
                    Get the best of cloud computing through Amazon AWS, Microsoft Azure and Google GCP.
                    Let our experts use cloud services to give your business a competitive
                    advantage by providing the most...
                </p>
                <a href="services/cloud-computing" class="blue" id="course-link">
                    MORE DETAILS
                    <span class="pl-2">
                        <i class="fas fa-angle-double-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="second-section col-12 m-0 my-0 px-2">
    <div class="col-md-11 mx-auto row p-0">
        <h2 class="text-white col-md-8 pt-4 pb-1 px-1 px-md-2 animate-into-view">
            Quality IT Services Where and When You Need it
        </h2>
        <p class="card-text paragraph text-white col-md-8 px-1 pb-2 px-md-2 animate-into-view">
            Welcome to Jiftek Digital Solution, a company dedicated to delivering clear,
            guided IT Service Provision, Management &amp; Support to businesses in Nigeria.
        </p>
        <p class="card-text paragraph text-white col-md-8 px-1 pb-2 px-md-2 animate-into-view">
            As a Managed IT Service Provider, we strive to exceed the ever-growing needs
            for Data Security, Network Stability, and Operational IT excellence.
            We have passionate IT professionals skilled in all aspects of Cyber Security and IT Support.
        </p>
    </div>
    <div class="col-md-11 mx-auto  row p-0">
        <div class="col-md-4 py-4 px-1 px-md-2 animate-into-view">
            <div class="card m-0 px-1 deep-box-shadow bg-light-ash">
                <img loading="lazy"
                    src="{% static 'img/mobile-apps-desktop-apps-websites-and-web-application-development-services.webp' %}"
                    class="card-img-top  position-relative" alt="learn cg animation">
                <div class="card-body px-2">
                    <h5 class="card-title">Websites &amp; Apps Building Services</h5>
                    <p class="card-text paragraph text-white">
                        Our work empowers businesses to create unique user experiences that engage, captivate and
                        deliver results.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-4 px-1 px-md-2 animate-into-view">
            <div class="card m-0 px-1 deep-box-shadow bg-light-ash">
                <img loading="lazy" src="{% static 'img/hire-quality-software-company-in-lagos.webp' %}"
                    class="card-img-top  position-relative" alt="learn cg animation">
                <div class="card-body px-2">
                    <h5 class="card-title">IT Consulting &amp; Cloud Technology</h5>
                    <p class="card-text paragraph text-white">
                        At Jiftek, we understand that your business needs more than a generic IT consultation. Try us
                        today.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-4 px-1 px-md-2 animate-into-view">
            <div class="card m-0 px-1 deep-box-shadow bg-light-ash">
                <img loading="lazy" src="{% static 'img/quality-infotech-security-and-protection-company.webp' %}"
                    class="card-img-top  position-relative"
                    alt="quality infotech security and protection company in Nigeria">
                <div class="card-body px-2">
                    <h5 class="card-title">Network Security &amp; Technical Support</h5>
                    <!-- <p class="card-text paragraph text-white">
                        We offers variety of security solutions and ongoing support to ensure your network is always
                        protected.
                    </p> -->
                    <div class="col-12 row p-0 m-0">
                        <a href="{% url 'get-a-quote' %}" class="btn btn-primary blue ml-auto">START HERE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our-tools-section col-12 m-0 px-0">
    <div class="col-12 row m-0 p-0 px-2">
        <div class="col-lg-3 col-md-4 m-0 text-white animate-into-view">
            <div class="p-2 m-0 first-child d-flex flex-column justify-content-center align-items-center">
                <h2 class="text-center">
                    Our Stacks, Tools &amp; Platforms
                </h2>
            </div>
        </div>
        <div class="col-6 col-lg-3 col-md-4 m-0 text-white animate-into-view">
            <div class="p-2 m-0 d-flex justify-content-center align-items-center flex-column animate-into-view">
                <img style="max-width: 30%;" loading="lazy"
                    src="{% static 'img/azure-cloud-services-and-consultance.png' %}" class="card-img-top"
                    alt="Quality Google Cloud, Amazon AWS and Microsoft Azure services in Lagos">
                <P class="py-0 pt-2 my-0 text-center">
                    Microsoft Azure
                </P>
            </div>
        </div>
        <div class="col-6 col-lg-3 col-md-4 m-0 text-white animate-into-view">
            <div class="p-2 m-0 d-flex justify-content-center align-items-center flex-column">
                <img loading="lazy" src="{% static 'img/google-cloud-package-services.png' %}" class="card-img-top"
                    alt="Quality Google Cloud, Amazon AWS and Microsoft Azure services in Lagos">
                <P class="py-0 my-0 text-center">
                    Google GCP
                </P>
            </div>
        </div>
        <div class="col-6 col-lg-3 col-md-4 m-0 text-white animate-into-view">
            <div class="p-2 m-0 d-flex justify-content-center align-items-center flex-column">
                <img loading="lazy" src="{% static 'img/aws-logo-white.png' %}" class="card-img-top"
                    alt="Quality Google Cloud, Amazon AWS and Microsoft Azure services in Lagos">
                <P class="py-0 my-0 text-center">
                    Amazon AWS
                </P>
            </div>
        </div>
        <div class="col-6 col-lg-3 col-md-4 m-0 text-white animate-into-view">
            <div class="p-2 m-0 d-flex justify-content-center align-items-center flex-column">
                <img loading="lazy" src="{% static 'img/html-css-javascript-developer.png' %}" class="card-img-top"
                    alt="Quality Google Cloud, Amazon AWS and Microsoft Azure services in Lagos">
                <P class="py-0 my-0 text-center">
                    Modern Frontend
                </P>
            </div>
        </div>
        <div class="col-6 col-lg-3 col-md-4 m-0 text-white animate-into-view">
            <div class="p-2 m-0 d-flex justify-content-center align-items-center flex-column">
                <img loading="lazy" src="{% static 'img/pngwave.png' %}" class="card-img-top"
                    alt="Quality Google Cloud, Amazon AWS and Microsoft Azure services in Lagos">
                <P class="py-0 my-0 text-center">
                    Popular Languages
                </P>
            </div>
        </div>
        <div class="col-6 col-lg-3 col-md-4 m-0 text-white animate-into-view">
            <div class="p-2 m-0 d-flex justify-content-center align-items-center flex-column">
                <img loading="lazy" src="{% static 'img/angular-react-and-vuejs-frontend-services.png' %}"
                    class="card-img-top" alt="Quality Google Cloud, Amazon AWS and Microsoft Azure services in Lagos">
                <P class="py-0 my-0 text-center">
                    Powerful Frameworks
                </P>
            </div>
        </div>
        <div class="col-6 col-lg-3 col-md-4 m-0 text-white animate-into-view">
            <div class="p-2 m-0 d-flex justify-content-center align-items-center flex-column">
                <img loading="lazy"
                    src="{% static 'img/build-your-projects-with-powerful-and-modern-databases-at-jiftek.png' %}"
                    class="card-img-top" alt="Quality Google Cloud, Amazon AWS and Microsoft Azure services in Lagos">
                <P class="py-0 pt-2 my-0 text-center">
                    Efficient Databases
                </P>
            </div>
        </div>
    </div>
</section>
<section class="third-section col-12 m-0 my-0 px-2 border-top border-bottom border-info">
    <div class="col-md-11 mx-auto my-0 row p-0">
        <h2 class="text-white col-md-7 py-0 px-1 px-md-3 animate-into-view">
            Why Choose Jiftek Digital Solution...
        </h2>
        <p class="paragraph text-white col-md-7 py-0 px-1 px-md-3 animate-into-view">
            Our clients rely on our knowledge of technologies,
            the technology marketplace, best-practices, solution-specific gaps, and critical
            project success factors to deliver their visions and meet their day-to-day business needs.
        </p>
        <p class="paragraph text-white col-md-7 py-0 px-1 px-md-3 animate-into-view">
            We enable companies to enter new markets, transform their current IT investments,
            and transition smoothly to new technology systems such as Cloud Computing and Enterprise Resource
            Planning(ERP).
            Bringing in our technical expertise gives you more time and
            peace of mind to innovate and focus on growing your business.
        </p>
    </div>
    <div class="col-12 col-md-11  mx-auto justify-content-center row p-0">
        <div class="col-md-6 py-2 px-2 px-md-4 my-4 animate-into-view">
            <div class="row p-0 m-0 bg-light-ash m-0 rounded-lg wide-dark-shadow">
                <div class="col-md-8 p-4">
                    <h4 class="card-title text-white my-0 py-0">
                        Powerful Business Softwares &amp; Solutions
                    </h4>
                    <p class="paragraph text-white pt-2 pb-0">
                        Are you unsure if your technology is performing as it should?
                        Is your organization fragmented by distributed teams?
                        Let's talk today...
                    </p>
                </div>
                <div class="col-md-4 p-0 m-0 text-right">
                    <img loading="lazy"
                        src="{% static 'img/powerful-business-software-from-jiftek-digital-solution.jpg' %}"
                        class="card-img-top position-relative wide-dark-shadow"
                        alt="get powerful business software solutions from jiftek digital solution">
                </div>
            </div>
        </div>
        <div class="col-md-6 py-2 px-2 px-md-4 my-4 animate-into-view">
            <div class="row p-0 m-0 bg-light-ash m-0 rounded-lg wide-dark-shadow">
                <div class="col-md-8 p-4">
                    <h4 class="card-title text-white my-0 py-0">
                        Stunning &amp; Top-notch UX/UI
                    </h4>
                    <p class="paragraph text-white pt-2 pb-0">
                        Whether web, desktop or mobile app, we deliver stunning User Experience in every single project.
                    </p>
                </div>
                <div class="col-md-4 p-0 m-0 text-right">
                    <img loading="lazy" src="{% static 'img/take-courses-in-film-making-at-vfx-academy.jpg' %}"
                        class="card-img-top position-relative wide-dark-shadow"
                        alt="we deliver stunning User Experience in when we build your websites or apps.">
                </div>
            </div>
        </div>
        <div class="col-md-6 py-2 px-2 px-md-4 my-4 animate-into-view">
            <div class="row p-0 m-0 bg-light-ash m-0 rounded-lg wide-dark-shadow">
                <div class="col-md-8 p-4">
                    <h4 class="card-title text-white my-0 py-0">
                        Deploy Your Projects on Powerful Platforms
                    </h4>
                    <p class="paragraph text-white pt-2 pb-0">
                        Get the best cloud services through Azure, AWS and GCP.
                    </p>
                </div>
                <div class="col-md-4 p-0 m-0 text-right">
                    <img loading="lazy"
                        src="{% static 'img/deploy-your-projects-on-powerful-cloud-platforms-with-jiftek.jpg' %}"
                        class="card-img-top position-relative wide-dark-shadow ml-auto"
                        alt="Quality Google Cloud, Amazon AWS and Microsoft Azure services in Lagos">
                </div>
            </div>
        </div>
        <div class="col-md-6 py-2 px-2 px-md-4 my-4 animate-into-view">
            <div class="row p-0 m-0 bg-light-ash m-0 rounded-lg wide-dark-shadow">
                <div class="col-md-8 p-4 ">
                    <h4 class="card-title text-white my-0 py-0">
                        Solutions That Scale With You
                    </h4>
                    <p class="paragraph text-white pt-2 pb-0">
                        Your business is growing bigger? Let's worry about your scaling while you focus on what is
                        important to you...
                    </p>
                </div>
                <div class="col-md-4 p-0 m-0 text-right ">
                    <img loading="lazy" src="{% static 'img/customer-support-at-jiftek-digital-solution.jpg' %}"
                        class="card-img-top position-relative wide-dark-shadow"
                        alt="transition to cloud computing with ease. Hire one of the best IT comapny in Nigeria">
                </div>
            </div>
        </div>
        <div class="col-md-6 py-2 px-2 px-md-4 my-4 animate-into-view">
            <div class="row p-0 m-0 bg-light-ash m-0 rounded-lg wide-dark-shadow">
                <div class="col-md-8 p-4">
                    <h4 class="card-title text-white my-0 py-0">
                        27&times;7 Customer Support
                    </h4>
                    <div class="row col-12 p-0 m-0 pt-2">
                        <a href="{% url 'team-and-facility' %}" style="color: #06FFFF;" class="ml-auto">
                            discover more
                            <span class="pl-2">
                                <i class="fas fa-angle-double-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 p-0 m-0 text-right">
                    <img loading="lazy" src="{% static 'img/brown-hourglass-on-brown-wooden-table-1178684.jpg' %}"
                        class="card-img-top position-relative wide-dark-shadow"
                        alt="Build world class website at affordable prices">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fourth-section">
    <div class="col-md-9 mx-auto p-1 p-md-0 m-0 row rounded-lg animate-into-view">
        <div class="d-flex justify-content-center align-items-center col-md-6 p-0 m-0">
            <!-- <img src="{% static 'img/bg-heading-03.jpg' %}" class="" alt="..."> -->
        </div>
        <div class="col-md-6 row p-0 m-0 py-4">
            <div class="my-auto col-12">
                <h2 class="text-white text-center pt-2 pb-0">
                    Need More Information?
                </h2>
                <p class="paragraph text-white py-0 text-center">
                    Leave Us A Message!
                </p>
                <form method="POST" novalidate action="{% url 'home' %}" class="col-12 p-0 m-0 inquiry-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <div>
                            <label for="name" class="text-white pt-2">
                                Name:
                            </label>
                            <input type="text" name="full_name" class="form-control text-white error-handler full-name"
                                id="name" placeholder="Enter your name">
                        </div>
                        <div>
                            <label for="phoneNumber" class=" text-white pt-3">Phone Number</label>
                            <input type="tel" name="phone_number"
                                class="form-control text-white error-handler phone-number" id="phoneNumber"
                                placeholder="Enter your phone number">
                        </div>
                        <div>
                            <label for="emailAddress" class=" text-white pt-3 ">Email Address</label>
                            <input type="email" name="email" class="form-control text-white error-handler email"
                                id="emailAddress" placeholder="Enter your email">
                        </div>
                        <div>
                            <label for="inquiry" class="for-textarea pt-3 pb-0">
                                Enter Inquiry Below
                            </label>
                            <textarea name="message" class="form-control error-handler message" id="inquiry" rows="6"
                                cols="12" placeholder="Enter your inquiry here"></textarea>
                        </div>
                        <div class="col-12 row p-0 mt-4 mb-0 mx-0">
                            <input type="submit" value="SEND MESSAGE" name="Submit" class="submit-button blue ml-auto">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="{% static 'js/vegas.min.js' %}" defer></script>
<script type="module" src="{% static 'js/index.js' %}"></script>
{% endblock %}