{% extends "pages/base.html" %} {% load static %} {% block extrametatags %}

<!-- Primary Meta Tags -->
<title>Get Quality Cloud &amp; IT Services Where and When You Need it | Jiftek Digital Solution</title>
<meta name="title" content="Quality Cloud &amp; IT Services Where and When You Need it | Jiftek Digital Solution">
<meta name="description" content="We offer the best Cloud &amp; IT Services Where and When You Need it | Jiftek Digital Solution">
<meta name="keywords" content="Web Development, Web building, Cloud Services, Google Cloud Package Services, AWS Services, Microsoft Azure Cloud Services, Office 365 services, IT Consulting
    Mobile App Building, Computer Accessories Supply, Installation of Solar Panel and Inverter, Sales of Computer Accessories, Cyber Security Services, CCTV Installation, UPS installation">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.jiftek.com">
<meta property="og:title" content="Quality Cloud &amp; IT Services Where and When You Need it | Jiftek Digital Solution">
<meta property="og:description" content="World Class Information Technology Solution and Consulting Services where and when you need it!">
<meta property="og:image" content="https://www.jiftek.com/static/img/web-and-app-development-services-1.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.jiftek.com">
<meta property="twitter:title" content="Quality Cloud &amp; IT Services Where and When You Need it | Jiftek Digital Solution">
<meta property="twitter:description" content="World Class Information Technology Solution and Consulting Services where and when you need it!">
<meta property="twitter:image" content="https://www.jiftek.com/static/img/web-and-app-development-services-1.jpg"> {% endblock %} {% block extrahead %}
<link rel="canonical" href="https://www.jiftek.com/services/cloud-computing" />
<link rel="preload" href="{% static 'css/cloud-services.css' %}" as="style" />
<link rel="stylesheet" href="{% static 'css/cloud-services.css' %}" /> {% endblock %} {% block content %}
<section class="first-section row col-12 p-0 m-0">
    <div class="col-md-1 d-none d-md-block px-3">
    </div>
    <div class="p-0 row col-12 col-md-8 my-0 mx-auto">
        <div class=" py-2 px-3 px-md-4 m-0 banner-img">
            <img src="{% static 'img/best-cloud-solution-and-consultancy-service-in-lagos-small.webp' %}" class="border rounded-lg" alt="best cloud solution and consultancy services in Nigeria">
        </div>
        <div class="py-3 px-3 px-md-4">
            <h1 class="text-white pt-2 pb-0 px-0" style="font-size: 1.7em;">
                Professional Cloud Solutions &amp; Services
            </h1>
            <p class="paragraph text-white pt-1 px-0">
                At JIFTEK, our team strives to keep up with the cutting-edge of cloud technologies to build our client’s next-gen digital services that propel their business goals.
            </p>
            <p class="paragraph text-white pt-2">
                Since inception, we have been helping our clients innovate, design, and develop high-quality products that enable sustainable business success.
            </p>

            <h4 class="text-white p-0 pt-4 pb-2">
                <span class="pr-2 text-info">
                    <i class="fas fa-minus"></i>
                </span> Our Cloud Solutions
            </h4>
            <p class="paragraph text-white pt-2">
                Working with us gives you access to time-tested and proven architectural roadmap options, scalable and secure platform engineering, extensive digital transformation, and new open-source technology adoptions. We leverage AWS, Azure, or GCP to design flexible
                and scalable digital solutions.
            </p>
            <div class="col-12 row m-0 my-4 p-0 px-2  text-white our-cloud-services-tools">
                <div class="col-6 col-md-3 p-1 mx-0 animate-into-view my-1">
                    <div class="p-2 m-0 d-flex justify-content-center align-items-center flex-column shadow">
                        <img style="max-width: 30%;" loading="lazy" src="{% static 'img/azure-cloud-services-and-consultance.png' %}" class="card-img-top" alt="Quality Google Cloud, Amazon AWS and Microsoft Azure services in Lagos">
                        <P class="py-0 pt-2 my-0 text-center">
                            Microsoft Azure
                        </P>
                    </div>
                </div>
                <div class="col-6 col-md-3 p-1 mx-0 animate-into-view my-1">
                    <div class="p-2 m-0 d-flex justify-content-center align-items-center flex-column shadow">
                        <img loading="lazy" src="{% static 'img/google-cloud-package-services.png' %}" class="card-img-top" alt="Quality Google Cloud, Amazon AWS and Microsoft Azure services in Lagos">
                        <P class="py-0 my-0 text-center">
                            Google GCP
                        </P>
                    </div>
                </div>
                <div class="col-6 col-md-3 p-1 mx-0 animate-into-view my-1">
                    <div class="p-2 m-0 d-flex justify-content-center align-items-center flex-column shadow">
                        <img loading="lazy" src="{% static 'img/aws-logo-white.png' %}" class="card-img-top" alt="Quality Google Cloud, Amazon AWS and Microsoft Azure services in Lagos">
                        <P class="py-0 my-0 text-center">
                            Amazon AWS
                        </P>
                    </div>
                </div>
                <div class="col-6 col-md-3 p-1 mx-0 animate-into-view my-1">
                    <div class="p-2 m-0 d-flex justify-content-center align-items-center flex-column shadow">
                        <img loading="lazy" src="{% static 'img/aws-logo-white.png' %}" class="card-img-top" alt="Quality Google Cloud, Amazon AWS and Microsoft Azure services in Lagos">
                        <P class="py-0 my-0 text-center">
                            Others
                        </P>
                    </div>
                </div>
            </div>
            <hr class="bg-white">
            <div class="pt-4" style="margin-top: 60px; margin-bottom: 60px;">
                <h5 class="text-white p-0 pl-1">
                    Why Choose Jiftek for Your CLoud Solutions?
                </h5>
                <h6 class="text-white p-0 pl-1">
                    <span class="pr-2 text-info">
                        <i class="fas fa-angle-double-right"></i>
                    </span> Course Outline
                </h6>
                <ul class="text-white custom-list-style pl-4 pr-3 py-1">
                    <li>
                        Understanding 3D Space and Elements.
                    </li>
                    <li>
                        Introduction to Blender.
                    </li>
                    <li>
                        Camera Animation.
                    </li>
                </ul>
                <div class="why-choose-jiftek-cloud col-12 row mx-auto p-0">
                    <div class="col-md-3 m-0 p-1">
                        <div class="col-12 p-0 m-0 card">
                            <div class="aqua-gradient"></div>
                            <div class="avatar mx-auto white">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-responsive" alt="woman avatar">
                            </div>
                            <div class="card-body">
                                <!-- Name -->
                                <h4 class="card-title font-weight-bold">Martha Smith</h4>
                                <hr>
                                <!-- Quotation -->
                                <p>
                                    <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 m-0 p-1">
                        <div class="col-12 p-0 m-0 card">
                            <div class="aqua-gradient"></div>
                            <div class="avatar mx-auto white">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-responsive" alt="woman avatar">
                            </div>
                            <div class="card-body">
                                <!-- Name -->
                                <h4 class="card-title font-weight-bold">Martha Smith</h4>
                                <hr>
                                <!-- Quotation -->
                                <p>
                                    <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 m-0 p-1">
                        <div class="col-12 p-0 m-0 card">
                            <div class="aqua-gradient"></div>
                            <div class="avatar mx-auto white">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-responsive" alt="woman avatar">
                            </div>
                            <div class="card-body">
                                <!-- Name -->
                                <h4 class="card-title font-weight-bold">Martha Smith</h4>
                                <hr>
                                <!-- Quotation -->
                                <p>
                                    <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 m-0 p-1">
                        <div class="col-12 p-0 m-0 card">
                            <div class="aqua-gradient"></div>
                            <div class="avatar mx-auto white">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-responsive" alt="woman avatar">
                            </div>
                            <div class="card-body">
                                <!-- Name -->
                                <h4 class="card-title font-weight-bold">Martha Smith</h4>
                                <hr>
                                <!-- Quotation -->
                                <p>
                                    <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="paragraph text-white py-1">
                Join VFX Academy today and become an expert in CG Animation. Learn more about our world class
                <a href="{% url 'home' %}" class="text-success">
                    courses in CG Animation, Visual Effects and Film making
                </a> at the home page. To register, use the button below:
            </p>
            <div class="col-12 row">
                <a href="{% url 'register' %}" class="blue ml-auto">REGISTER HERE</a>
            </div>

        </div>
    </div>
    <div class="col-md-3 px-1 px-md-3 py-2 py-md-4">
        <h5 class="text-white p-0 ">
            <span class="pr-2 text-white">
                    <i class="fas fa-info-circle"></i>
                </span> EXPLORE MORE SERVICES
        </h5>
        <p class="paragraph text-white">
            You can also explore our other world class services like Mobile and Web App development. Use the links below:
        </p>
        <div class="list-group my-2">
            <button type="button" class="list-group-item list-group-item-action active" disabled>
                    Our Services
                </button>
            <a href="{% url 'web-and-app-design' %}" class="list-group-item list-group-item-action">
                <span class="pr-2">
                        <i class="fas fa-laptop"></i>
                    </span> Web &amp; Design
            </a>
            <a href="{% url 'it-consulting' %}" class="list-group-item list-group-item-action">
                <span class="pr-2">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </span> IT Consulting
            </a>
            <a href="{% url 'security-and-compliance' %}" class="list-group-item list-group-item-action">
                <span class="pr-2">
                        <i class="fas fa-fingerprint"></i>
                    </span> Cyber Security
            </a>
            <a href="{% url 'training' %}" class="list-group-item list-group-item-action">
                <span class="pr-2">
                        <i class="fas fa-user-graduate"></i>
                    </span> IT Training
            </a>
            <a href="{% url 'other-services' %}" class="list-group-item list-group-item-action">
                <span class="pr-2">
                        <i class="fas fa-angle-double-right"></i>
                    </span> Other Services
            </a>
        </div>
    </div>
</section>
{% endblock %} {% block extrascripts %}
<script type="module" src="{% static 'js/cg-animation.js' %}"></script>
{% endblock %}