               <div class="why-choose-jiftek-cloud col-12 row mx-auto p-0">
                    <div class="col-6 col-md-3 m-0 p-1 animate-into-view">
                        <div class="col-12 p-0 m-0 card">
                            <div class="aqua-gradient"></div>
                            <div class="avatar mx-auto white">
                                <img loading="lazy" src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-responsive" alt="woman avatar">
                            </div>
                            <div class="card-body">

                                <h4 class="card-title font-weight-bold">Martha Smith</h4>
                                <hr>

                                <p>
                                    <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 m-0 p-1 animate-into-view">
                        <div class="col-12 p-0 m-0 card">
                            <div class="aqua-gradient"></div>
                            <div class="avatar mx-auto white">
                                <img loading="lazy" src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-responsive" alt="woman avatar">
                            </div>
                            <div class="card-body">

                                <h4 class="card-title font-weight-bold">Martha Smith</h4>
                                <hr>

                                <p>
                                    <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 m-0 p-1 animate-into-view">
                        <div class="col-12 p-0 m-0 card">
                            <div class="aqua-gradient"></div>
                            <div class="avatar mx-auto white">
                                <img loading="lazy" src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-responsive" alt="woman avatar">
                            </div>
                            <div class="card-body">

                                <h4 class="card-title font-weight-bold">Martha Smith</h4>
                                <hr>

                                <p>
                                    <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 m-0 p-1 animate-into-view">
                        <div class="col-12 p-0 m-0 card">
                            <div class="aqua-gradient"></div>
                            <div class="avatar mx-auto white">
                                <img loading="lazy" src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-responsive" alt="woman avatar">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title font-weight-bold">Martha Smith</h4>
                                <hr>
                                <p>
                                    <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
                                </p>
                            </div>
                        </div>
                    </div>
                </div>